{{ ansible_managed | comment }}

user                 {{ nginx_user }};
pid                  {{ nginx_pid }};

# Load dynamic modules. See /usr/share/doc/nginx/README.dynamic.
include /usr/share/nginx/modules/*.conf;

events {
  multi_accept       on;
  worker_connections 65535;
}

http {
  access_log /var/log/nginx/access.log;
  error_log  /var/log/nginx/error.log warn;

{% for s in nginx_servers %}
    server {
{% filter indent(width=8, first=True) %}
{{ s }}{% endfilter %}
    }
{% endfor %}
}
